@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

/* Import base CSS */
@import url(./base/form.css);
@import url(./base/input.css);
@import url(./base/button.css);
@import url(./base/modal.css);
@import url(./base/dialog.css);

/* Import layout user */
@import url(./layouts/user/header.css);

/* Import layout admin */
@import url(./layouts/admin/header.css);
@import url(./layouts/admin/menu.css);
@import url(./layouts/admin/main.css);

/* Import pages user */
@import url(./pages/user/home.css);
@import url(./pages/user/product-detail.css);
@import url(./pages/user/cart.css);

/* Import pages admin */
@import url(./pages/admin/home.css);
@import url(./pages/admin/account.css);
@import url(./pages/admin/category.css);
@import url(./pages/admin/product.css);

:root {
  --text-white: #fff;
  --text-red: red;
  --bg-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fadeDown {
  animation: fadeDown 0.2s linear;
}

@keyframes fadeDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

textarea {
  padding: 8px 16px !important;
}

.border-bottom {
  border-bottom: 1px solid #dadada;
}

.driven {
  border-bottom: 1px solid #dadada;
}
